@import url('https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
a:visited{
    color: rgb(115, 125, 138);
}
a:link{
    color: rgb(109, 68, 145);
}


img:not([alt]){
    border: 3px solid red;
}
a[href$=".pdf"]::after {
    content: url("https://www.shareicon.net/data/16x16/2016/08/13/808584_document_512x512.png");
}

h2{
    color: rgb(109, 68, 145);
    text-shadow: 2px 2px 20px #3F2556;
    font-size: 1.8em;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-left: 0.7em;
}
h3,legend,#lblSexo{
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
    color:#95A3B3;
    margin-bottom: 2em;
}
p,aside a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
}
body{
    background-color: #232528;
    color: #95A3B3;
    background-size: 50%;
}
header{
    color: #4C2C69;
    width: 100%;
    height: 90px;  
    border-bottom: 2px solid rgb(109, 68, 145);
    background: rgb(35,37,40);
    background: linear-gradient(to bottom, rgba(35,37,40,1) 80%, rgba(76,44,105,1) 100%);
    font-family: 'Press Start 2P', cursive;
}
header h1{
    font-size: 2.5em;
    color: rgb(109, 68, 145);
    display: inline;
    line-height: 2.3em;
    margin-left: 0.5em;
}
header a, aside a{
    text-decoration: none;
    font-weight: bold;
}
aside a{
    color: rgb(109, 68, 145);
}
header h1:hover, aside a:hover{
    text-shadow: 2px 2px 8px #95A3B3;
    color: #95A3B3;
}
nav{
    float: right;
    margin: 0 auto; /*cambiar esto por
    alineado vertHoriz que ella dijo*/
}
nav ul{
    list-style: none;
    text-align: center;
    display: inline;
    vertical-align: top;
}
nav li{
    font-family: 'Press Start 2P', sans-serif;
    list-style-type: none;
    padding: 0px;
    font-size: 1.3em;
    display: inline;
}
nav li a{
    font-size: 1em;
    text-decoration: none;
    line-height: 4em;
    padding: 15px 15px;
    font-weight: 1000;
    color: rgb(109, 68, 145);
}
nav li a:hover{
    font-size: 1em;
    text-decoration: none;
    padding: 15px 15px;
    font-weight: 5000;
    color: #95A3B3;
    text-shadow: 2px 2px 8px #95A3B3;
}

#principal{
    display: flex;
    background: linear-gradient(to top, rgba(35,37,40,1) 98.5%, rgba(76,44,105,1) 100%);
    padding-top:2em;
}
main{
    width: 85%;
    margin-top: 2em;
    float:left;
}
section{
    text-align: center;
  }
section article{
    padding: 1em;
    margin: 2.5em;
}
article img, article,
 article iframe, article video
 {
    margin-top:1em;
    border: 1px solid rgb(41, 46, 51);
    border-radius: 0.5em;
    box-shadow: 0px 4px 80px black;
    width: 80%;
  }
article img{
    transition: width 1s;
}
article img:hover{
    width: 90%;
}
#contenFlexB{
    display: flexbox;
    flex-flow: wrap;
    border-radius: 0.5em;
    border:3px solid rgb(109, 68, 145);
    z-index: 2;
}
#contenFlexB > *{
    /* margin: 0.2em; */
    padding: 0.5em;
}
#contenFlexB > *:hover{
    /* border-radius: 0.5em;
    border: 1px solid rgb(109, 68, 145); */
    /* color: #95A3B3; */
    box-shadow: 2px 4px 20px rgb(109, 68, 145);
}
#contenFlexB > *::first-letter{
    font-size: 2em;
}
#flex1{
    color: white;
    background-color: purple;
}
#flex2{
    color: black;
    background-color: violet;
}
#flex3{
    color: black;
    background-color: grey;
}
#flex4{
    color: white;
    background-color: rgb(116, 40, 116);
}
aside{
    float: right;
    width: 150px;
    height: 350px;
    margin-top: 10em;
    margin-left: 1em;
    padding: 1em;
  border: 1px solid rgb(41, 46, 51);
  border-radius: 0.5em;
  box-shadow: 0px 4px 80px black;
}
aside h3{ /*APLICAR ESTO SOLO A LOS H3 > 1*/
    margin-top: 1em; 
    margin-bottom: 1em;
}
aside ul li,#asideMQuery ul li{
list-style: none;
}
footer{
    height: 50px;
    max-height: 50px;
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1em;
    padding-bottom:1em;
    border-top: 2px solid rgb(109, 68, 145);
    background: linear-gradient(to top, rgba(35,37,40,1) 80%, rgba(76,44,105,1) 100%);
    text-align: center;
    display: flex;
}
footer small,footer div,footer i{
    display: inline;
    line-height: 3em;
    color: rgb(109, 68, 145);
    font-size: 1.2em;
}
#socialIcons{
    margin-left: 2em;
    margin-right: 4em;
}
#socialIcons i:hover{
    color: #95A3B3;
    text-shadow: 2px 2px 8px #95A3B3;
}
footer div a{
    color: rgb(109, 68, 145);
    font-weight: 800;
}
footer div a:hover{
    color: #95A3B3;
    text-shadow: 2px 2px 8px #95A3B3;
}
footer > *{
    margin: 0 auto;
    /* transform: translate(-50%); */
}
#icoWhats{
    width:50px;
    height: 50px;
    /* float: right !important; */
    padding: 0%;
    position: fixed;
    right: -5px;
    bottom: 85px;
    animation: breathing 5s ease-out infinite normal;
    /* -moz-animation: breathing 7s ease-out infinite normal; */
}
#icoWhats i{
    font-size: 3em;
}
#icoWhats i:hover{
    color: lawngreen;
}
@keyframes breathing {
    0% {
      -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7);
    }
  
    100% {
      -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7);
    }
  }

  /* Multimedia */
#controles{
 margin-top: 0.5em; 
}
#controles > *{
  width: 1.5em;
  height: 1.5em;
  font-size: 1.2em;
  margin:0.1em;
  border: 1px solid rgb(41, 46, 51);
  border-radius: 0.5em;
  box-shadow: 0px 4px 80px black;
}
#adelantar{
  margin-right: 2em;
}



