@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Acme', sans-serif; */
}
body{
    background-color: #FEFFEA;
}
/* Header and Nav */
header{
    color: #593B21;
    width: 100%;
    height: 70px;  
    background-color: #F7F9FA;
    border-bottom: 4px solid #593B21;
    margin-bottom: 5em;
    background-color: #C69C72;
    font-family: 'Acme', sans-serif;
}
header img{
    border: 3px solid #593B21;
    border-radius: 4em;
    width: 65px;
    /* padding:px; */
}
header h1{
    /* border: 1px solid red; */
    font-size: 2em;
    display: inline;
    vertical-align: 60%;
    margin-left: 0.5em;
}
nav{
    /* display: inline; */
    float: right;
    /* width: 700px; */
    margin: 0 auto;
    /* border: 1px solid  yellow; */
}
nav ul{
    /* float:right; */
    list-style: none;
    text-align: center;
    display: inline;
    vertical-align: top;
    /* border: 1px solid green; */
}
nav li{
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    padding: 0px;
    font-size: 1.3em;
    /* height: 24px;
    margin-top: 4px;
    margin-bottom: 4px; */
    display: inline;
}
nav li a{
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 15px;
    font-weight: 1000;
    color: #593B21;
}
nav li a:hover{
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 15px;
    font-weight: 5000;
    color: #FCFC62;
}
main{
    font-family: 'Lato', sans-serif;
}
footer{
    margin-top: 1em;
    border-top: 4px solid #593B21;
    background-color: #C69C72;
}