.parallax {
  background-image: url("../img/coworking-fondoParallax2.jpg");
  height: 590px; 
  /* width: 400px; */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size:cover;
  border-bottom: 2px solid rgb(109, 68, 145);
}
.parallax img{
  max-width: 500px;
  width: 80%;
  display: block;
  margin: 0 auto;
}
section{
  text-align: center;
}
section article{
  /* border: 3px solid #593B21; */
  padding: 1em;
  margin: 2.5em;
  border: 1px solid rgba(128, 128, 128, 0.137);
  border-radius: 0.5em;
  /* background-color: #241446; */
  box-shadow: 0px 4px 80px black;
}