.parallax {
  background-image: url("../img/coworkingParallax2COMP.jpg");
  height: 590px; 
  /* width: 400px; */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size:cover;
  border-bottom: 2px solid rgb(109, 68, 145);
}
.parallax img{
  max-width: 500px;
  width: 80%;
  display: block;
  margin: 0 auto;
}
object{
  position: relative;
  transform: translate(-50%,-50%);
  left: 50%;
  top:50%;
  width: 300px;
  filter: drop-shadow( 3px 3px 8px #670086);
}