.parallax {
  background-image: url("../img/coworkingParallax2COMP.jpg");
  height: 590px; 
  /* width: 400px; */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size:cover;
  border-bottom: 2px solid rgb(109, 68, 145);
}
.parallax img{
  max-width: 500px;
  width: 80%;
  display: block;
  margin: 0 auto;
}
object{
  position: relative;
  transform: translate(-50%,-50%);
  /*apaño para animacion de giro*/
  left: 40%;
  top:25%;
  width: 300px;
  filter: drop-shadow( 3px 3px 8px #670086);
}

.animation{
  animation-duration: 5s;
  animation-name: animLogo;
  animation-iteration-count: infinite;
}
@keyframes animLogo{
  from {
      -webkit-transform: rotate(0deg);
      transform: rotateY(0deg);
  }
  50%{
      -webkit-transform: rotate(180deg);
      transform: rotateY(180deg);
  } to {
      -webkit-transform: rotate(360deg);
      transform: rotateY(360deg);
      }
}

